@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sanchez&display=swap');
*{
    margin: 0px;
}

body{
    background-color:rgba(221, 217, 217, 0.534);
}

.head{
    background-color: rgba(239, 10, 10, 0.919);
    height: 150px;
}

h1{
    font-size: 90px;
    color:white;
    font-family: "Dancing Script", cursive;
}

.linkCardapio{
    font-size: 30px;
}

.boxInformacoes{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}

.informacoes, .formulario{
    font-size: 35px;
    text-align: center;
    padding-top: 100px;
}

input,  button{
    width: 40%;
    height: 60px;
    margin-bottom: 2%;
}

::placeholder, button {
    font-size: 25px;
}


/*CARDAPIO*/

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
    font-size: 90px;
    font-family: "Dancing Script", cursive;
}

.pizzas, .bebidas, .info{
    color: black;
    font-size: 35px;
    padding: 5px;
}

li{
    list-style-type: none;
}

img{
    width: 20vw;
}
.cardapioPizza, .cardapioBebida{
    font-size: 4em;
    margin-bottom: 50px;
}

